@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Overpass", serif;
    background-color: black;
    color: white;
}

h2 {
    font-size: 3rem;
}

h1 {
    font-size: 4em;
}