section#hero {
	display: grid;
	height: 100dvh;
	grid-template-columns: 20% 1fr 20%;
	grid-template-areas: ". hero ."
		". academics .";

	align-items: center;
}

.hero {
	width: 100%;
	grid-area: hero;
	height: fit-content;

	display: flex;
	flex: 1;
	align-items: center;
	align-self: flex-end;
	gap: 2rem;
}

.hero .hero-image {
	width: 30%;
}

.hero button {
	margin-block: 1rem;
	background: var(--secondary);
	border: none;
	padding: 1rem;
	font-size: 1.2em;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	border-radius: 1rem;
}

.hero button::before {
	content: "";
	border-radius: 1rem;
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	transform: scale(0.9);
	background: transparent;
	border: 0.01rem solid var(--tertiary);
	transition: transform 300ms ease-out;
	z-index: -1;
}

.hero button:hover::before {
	transform: translate(0.5rem, 0.5rem) scale(1);
}


#academics {
	display: flex;
	gap: 6rem;
	padding: 1rem;
	justify-content: center;

	border-radius: 1rem;
	background: radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsla(0, 0%, 100%, 0.096), transparent 5rem), var(--dark-level-3);
	grid-area: academics;
	position: relative;
}

#academics::before {
	content: "";
	position: absolute;
	inset: -0.1rem;
	z-index: -1;
	border-radius: inherit;
	background: radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0, 0%, 100%), transparent 5rem), var(--dark-level-3);
}


#academics div {
	display: grid;
	gap: 1rem;
	text-align: center;
}

@media (max-width: 1080px) {
	section#hero {
		grid-template-areas: ". hero .";
		grid-template-columns: 5% 1fr 5%;

		place-content: center;
	}

	.hero {
		flex-direction: column;
	}

	.hero .hero-image {
		width: 40%;
	}
}
